.assignment.dark{
  background-color: rgb(110, 103, 103);
}
.assignment {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
  }

  .method {
    text-align: left;
    line-height: 1.5em;
  }