.assignment-card .card.dark{
  background: rgb(117, 107, 107);
}

.assignment-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}
.assignment-card .card {
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
}
.assignment-card .card:hover {
  transform: rotate(3deg);
}
.assignment-card .card h3 {
  color: #555;
  margin: 0;
  display: inline-block;
}
.assignment-card .card p {
  color: #999;
  font-size: 0.9em;
}
.assignment-card .card div {
  color: #555;
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}
.assignment-card .card a {
  color: #555;
  text-decoration: none;
  display: block;
  background: #e2e2e2;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  width: 120px;
  padding: 8px;
  border-radius: 4px;
  margin: 20px auto 0;
}

.assignment-card .card .delete-btn {
  float: right;
  margin-bottom: auto;
  cursor: pointer;
  color: #fff;
  background-color: #e2111b;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out;
}

.assignment-card .card .delete-btn:hover {
  color: #fff;
  background-color: #a33b41;
}



